[submodule "dotfiles/rtomayko"]
	path = dotfiles/rtomayko
	url = git://github.com/rtomayko/dotfiles.git
[submodule "dotfiles/r00k"]
	path = dotfiles/r00k
	url = git://github.com/r00k/dotfiles.git
[submodule ".vim/gitsubs/vim-fugitive"]
	path = .vim/gitsubs/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/gitsubs/nerdtree"]
	path = .vim/gitsubs/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
